@use '../../styles/abstract/variables' as vars;

button {
  border: none;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
}

.toggle {
  position: absolute;
  right: 0;
  background: none;
  padding: 4px;

  font-size: vars.$font-xl;
}
