// color
$dark: #444;
$light: #fff;
$primary-dark: #364fc7;
$primary-light: #4c6ef5;

// background color
$bg-fire: #f03e3e;
$bg-light: #edf2ff;

// font
$font-xs: 1.4rem;
$font-sm: 1.6rem;
$font-md: 1.8rem;
$font-lg: 2rem;
$font-xl: 3rem;
