@use '../../styles/abstract/mixins' as mixins;
@use '../../styles/abstract/variables' as vars;

.tab {
  font-size: vars.$font-sm;
  color: vars.$primary-dark;
  background-color: vars.$bg-light;

  @include mixins.btn-container($h: 24px);

  font-weight: bold;
  margin-right: 8px;
  transition: all 0.3s;
}

.tab.active,
.tab:hover {
  color: vars.$light;
  background-color: vars.$primary-dark;
}
